*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position: relative;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: orange;
    
}

.detel p{
    color: #555;
    line-height: 22px;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .girl{
    left: 45%;
}

.social{
    margin-left: 8%;
    margin-top: 100px;
}

.social a{
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
}

.social a:hover{
    color: orange;
}


/* about me */

.fh5co-about-me {
    position: relative;
    margin: 193px 0 199px; }
    @media (max-width: 1250px) {
      .fh5co-about-me {
        margin: 150px 0; } }
    @media (max-width: 992px) {
      .fh5co-about-me {
        margin: 125px 0; } }
  
  .about-me-bckg {
    position: absolute;
    background-image: url("../images/about-me-bckg.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    top: -75px;
    right: 0;
    height: calc(100% + 150px);
    width: 70%;
    z-index: -1; }
    .about-me-bckg:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.7; }
    @media (max-width: 992px) {
      .about-me-bckg {
        width: 100%;
        padding-bottom: 15px; } }
  
  .about-me-inner {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 992px) {
      .about-me-inner {
        flex-direction: column;
        align-items: center; } }
  
  .about-me-slider {
    position: relative; }
    .about-me-slider .slick-arrow {
      position: absolute;
      bottom: -18%; }
    .about-me-slider .slick-prev {
      left: 40%; }
      @media (max-width: 520px) {
        .about-me-slider .slick-prev {
          left: 34%; } }
    .about-me-slider .slick-next {
      right: 40%; }
      @media (max-width: 520px) {
        .about-me-slider .slick-next {
          right: 34%; } }
  
  .span-arrow {
    padding: 10px 15px;
    cursor: pointer;
    color: #c18f59;
    border: 1px solid #c18f59;
    border-radius: 50%;
    transition: 0.3s ease; }
    .span-arrow:hover {
      color: #fff;
      border-color: #fff; }
  
  .portfolio-wrapper {
    width: 390px;
    padding: 8px;
    text-align: center;
    background-color: #fff; }
    .portfolio-wrapper .portfolio__img {
      font-size: 0; }
      .portfolio-wrapper .portfolio__img img {
        width: 100%; }
    .portfolio-wrapper .portfolio__bottom {
      padding: 35px 0 95px;
      background-color: #f5f5f5; }
      @media (max-width: 992px) {
        .portfolio-wrapper .portfolio__bottom {
          padding: 25px 0; } }
    .portfolio-wrapper .portfolio__name {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 23px; }
      @media (max-width: 992px) {
        .portfolio-wrapper .portfolio__name {
          margin-bottom: 10px; } }
      .portfolio-wrapper .portfolio__name span {
        font-size: 90px;
        line-height: 75px;
        color: #c18f59;
        font-family: "Calisto-MT-Bold"; }
        @media (max-width: 992px) {
          .portfolio-wrapper .portfolio__name span {
            font-size: 65px;
            line-height: 62px; } }
    .portfolio-wrapper p {
      padding: 0 10%;
      line-height: 25px;
      font-style: italic;
      color: #777; }
      @media (max-width: 620px) {
        .portfolio-wrapper p {
          font-size: 15px;
          line-height: 20px; } }
    @media (max-width: 992px) {
      .portfolio-wrapper {
        margin-bottom: 20px; } }
    @media (max-width: 620px) {
      .portfolio-wrapper {
        width: 250px; } }
  
  .about-me__text {
    width: 44%;
    margin-right: 80px;
    text-align: center; }
    .about-me__text .universal-h2 {
      color: #fff;
      padding-bottom: 20px;
      margin-bottom: 25px; }
    .about-me__text p {
      margin-bottom: 35px;
      line-height: 24px;
      color: #c18f59; }
      .about-me__text p span {
        font-size: 48px;
        color: #fff; }
      @media (max-width: 620px) {
        .about-me__text p {
          margin-bottom: 20px;
          font-size: 14px;
          line-height: 19px; } }
    .about-me__text h4 {
      margin-bottom: 7px;
      font-size: 25px;
      color: #c18f59; }
    .about-me__text .p-white {
      margin-bottom: 0;
      color: #fff; }
    @media (max-width: 1250px) {
      .about-me__text {
        width: 48%;
        margin-right: 40px; } }
    @media (max-width: 992px) {
      .about-me__text {
        width: 100%;
        margin-right: 0; } }
  
  .slick-slide:focus {
    outline: none; }