{% extends 'base/main.html' %}
{% load static %}

{% block content %}




<section class="hero">
    <!-- <div class="hero-content">
        <div class="hero-content-intro">
            <img id='profile_pic' src="{% static 'images/dp_image.jpg' %}">
            <h1 class= "intro--name">Nahid <br> Ahosan </h1>
            
        </div>
        <div class=subheading mb-5> 
            <h5>Shukrabad 32, Dhaka | (+880) 1322588126 | nahidahsan74@gmail.com</h5>            
        </div>

        <div class="hero-content-subheadline">
            <h3 class="description">Data Analyst</h3>
            <p class="slogan">I Am Google Certified Data Analysts</p>
        </div>
    </div> -->
    <div class="hero-intro">
        <nav>
            <img src="{% static 'images/logo.gif' %}" class="logo">
            <ul>
                <li><a href="{% url 'home' %}">PROJECTS</a></li>
                <li><a href="{% url 'contact'%}">CONTACT</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'inbox' %}">INBOX</a></li>
                <li><a href="{% url 'add-project' %}">ADD PROJECT</a></li>
                <li><a href="{% url 'add-skill' %}">ADD SKILL</a></li>
                {% endif %}
                <li><a href="#">HIRE ME</a></li>

            </ul>
        </nav>
        <div class="detel">
            <h1>I,M Nahid <span>Ahosan</span></h1>
            <p>This is my official Portfolio website to showcase my 
                all works related to <br> Deep Learning and Data Analysis </p>
            <a href="{% static 'pdf/Nahid_Ahosan_CV.pdf' %}">Downdload CV</a>
            
        </div>
        <div class="images">
            <!-- <img src="images/shape.png" class="shape"> -->
            <img src="{% static 'images/nahid_dpp.png' %}" class="nahid">
            
        </div>

        <div class="social">
            
            <a href="mailto:nahidahsan74@gmail.com"><i class="fa fa-envelope" style='font-size:60px'></i></a>
            <a href="https://www.linkedin.com/in/md-nahid-ahosan-57a1b3140/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Nahid-Ahsan"><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/__n_.ahsan/"><i class="fab fa-instagram"></i></a>
            <a href="tel:(+880) 1322588126"><i class="fa fa-phone-alt" style='font-size:48px'></i></a>
            
            
        </div>
    </div>

</section>


<section class="container">

    <h3 class="my-project"> My Top Projects</h3>
    <h5> Projects that makes my journey worthwhile</h5>

    <div class="project-wrapper">
        {% for project in projects %}
        <div class="project-column">
            <a href="{% url 'project' project.id %}">
                <img class="project-thumb" src="{{project.thumbnail}}">
            </a>
            <div class="project-body">
                <h4>{{project.title}}</h4>

            </div>
        </div>
        {% empty %}
        <h3>There is no project in database</h3>
        {% endfor %}

        

        

    </div>

    
    <!-- <div class="about-me">
        <h3 class = "about"> About Me</h3>
        <p> Hi there! I am Nahid Ahsan. Currently a Student at East West University studying at the Department of Electronics and Communication Engineering. 
            For the Last two years, I have been involved in several research project. Right now, I am working on Deep Learning and 
            I am highly interested in Computer Vision.
        </p>
        <p>  Right now, I am currently working on Deep Learning and 
            I am highly interested in Computer Vision. </p>
    
        
        

    </div> -->

    	<!-- About me -->
	<section class="fh5co-about-me">
		<div class="about-me-inner site-container">
			<article class="portfolio-wrapper">
				<div class="portfolio__img">
					<img src="{% static 'images/dp_image.jpg' %}" class="about-me__profile" alt="about me profile picture">
				</div>
				<div class="portfolio__bottom">
					<div class="portfolio__name">
						<!-- <span>N</span> -->
						<h2 class="universal-h2">Nahid Ahosan</h2>
					</div>
					<p>Nahid Ahosan is a google certified data analyst.</p>
				</div>
			</article>
			<div class="about-me__text">
				<div class="about-me-slider">
					<div class="about-me-single-slide">
						<h2 class="about">About me</h2>
						<p><span>Hi</span> there ! I am Nahid Ahsan. Currently a Student at East West University studying at the Department of Electronics and Communication Engineering. 
                            For the Last two years, I have been involved in several research project. Right now, I am working on Deep Learning and 
                            I am highly interested in Computer Vision.</p>
						
					</div>
					<!-- <div class="about-me-single-slide">
						<h2 class="universal-h2 universal-h2-bckg">About me 2</h2>
						<p><span>H</span> e has work appearing or forthcoming in over a dozen venues, including Buzzy Mag, The Spirit of Poe, and the British Fantasy Society journal Dark Horizons. He is also CEO of a company, specializing in custom book publishing and social media marketing services, have created a community for authors to learn and connect.He has work appearing or forthcoming in over a dozen venues, including Buzzy Mag, The Spirit of Poe, and have created a community for authors to learn and connect.</p>
						<h4>Author</h4>
						<p class="p-white">See me</p>
					</div> -->
				</div>
			</div>
		</div>
		<div class="about-me-bckg"> <img class = back-img  src="{% static 'images/ewu.jpeg' %}" ></div>
	</section>
	<!-- About me end -->

</section>
    
<section class="section-1">
    <div class="skill-container">
        <h3 class="top">TOP EXPERTISE</h3>

        {% for skill in detailedSkills %}
        <div class="skill-wrapper">
            {% if skill.logo %}
                <img class ="skill--logo" src="{{skill.logo.url}}">
            {% endif %}
            <div>
                <h5>{{skill.title}}</h5>
                <p>{{skill.body}}</p>
            </div>
            

        </div>

        {% endfor %}

        <h3 class="key">KEY SKILLS</h3>
        <div class="other-skill-wrapper">
            {% for skill in skills %}
            <div class="skill-tag">
                <span>{{skill.title}}</span>

            </div>
            {% endfor %}
            
        </div>

    </div>

    
    

</section>


   
<section class="section-2">
    <div class="skill-container">
        <h3 class="write">WRITE YOUR WORD</h3>
        <a class="btn btn-primary my-3" href="{% url 'add-endorsement' %}">Add Endorsement</a>

        {% for i in endorsements %}
        <div style="margin-bottom: 2em;" class="card">
            <div class="card-body"> 
                <h5>{{i.name}}</h5>
                <p>{{i.body}}</p>
            </div>
        </div>

        {% endfor %}

        

    </div>

    
    

</section>

<!-- <section class="section-1">
    <div class="container">
        <h3>GET IN TOUCH</h3>
        <form class="contact-form" method="POST">
            {% csrf_token %}

            {% for field in form %} 
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">
                    {{field.label}}
                </label>
                {{field}}
            </div>
            {% endfor %}

        

        <input class="btn btn-primary" type="submit" value="Send Message">
        </form>

    </div>

</section> -->


{% endblock content %}